# git rm -r --cached config/*
# git add -f config/auto_update.php [Use -f if you really want to add them.]

# git rm -r --cached app/Console; git rm -r --cached app/Exceptions; git rm -r --cached app/Models; git rm -r --cached app/Providers;
# git commit -m "Remove bootstrap and database folders from Git tracking"
# git push origin main


/*
!/app/Http/Controllers
!/app/Traits

!/config/auto_update.php
!/public/css
!/resources/views
!/routes/web.php
!/routes/api.php
!/track
!.env.example
!.gitignore
!README.md


# One Command
# git add -f app/Http/Controllers;
# git add -f app/Traits;
# git add -f config/auto_update.php;
# git add -f public/css;
# git add -f resources/views;
# git add -f routes/web.php;
# git add -f routes/api.php;
# git add -f track;
# git add -f .env.example;
# git add -f .gitignore;
# git add -f README.md;



# app
# /app/*
# !/app/Http/Controllers
# /app/Http/Controllers/middleware
# !/app/Traits


# /bootstrap


# config
# /config/*
# !/config/auto_update.php


# /database
# /public
# !/public/css


#resources
# /resources/*
# !/resources/views


# /routes/*
# !/routes/web.php
# !/routes/api.php


# /storage
# /tests
# /vendor



# /.phpunit.cache
# /node_modules
# /public/build
# /public/hot
# /public/storage
# /storage/*.key

# .editorconfig
# .gitattributes
# artisan
# composer.json
# composer.lock
# package.json
# phpunit.xml
# vite.config.js

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
